<!DOCTYPE HTML>
<HTML>
<HEAD>
	<title>myCRM - task</title>
	{% load static %}
	<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</HEAD>
<BODY>
<div class="container-fluid">
	<H1>myCRM</H1>
	<p>The appliciation tries to model a formal database representation as close as possible to a CRM. Clients are served on a task basis.</p>
	
	<ul class="nav nav-tabs">
	<li class="nav-item">
	<a class="nav-link" aria-current="page" href="http://localhost/crm">Dashboard</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="tasks">Tasks</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="clients">Clients</a>
	</li>
	<li class="nav-item">
	<a class="nav-link active" href="contacts">Contacts</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="products">Products</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="billing">Billing</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="bills">Bills</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="activesubscriptions" aria-disabled="true">Active Subscriptions</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="/admin" tabindex="-1">admin</a>
	</li>
	</ul>
	
	<br>
	
	<table class="table">
	<thead><tr><th>Id</th><th>Name</th></tr></thead>
	{% for c in contacts %}
	
		<tr> <td>{{ c.id }} </td> <td>{{ c.name }} </td></tr>
		
	{% endfor %}
	
		
	</table>
	
	<span>> <a href="contacts/add"> Add new </a> </span>
	
</div>
</BODY>
</HTML>