{% extends 'crm/base.html' %}
{% block content %}

<form action="/save" method="POST">
{% csrf_token %}
<fieldset>

	<label for="client">Client</label>
	<select name="client">
		<option value="0"> Select client ... </option>
	</select>
	
	<label for="name">Name</label>
	<input type="text" name="name">
	
	<label for="position">Position</label>
	<input type="text" name="position">
	
	<label for="phone">Phone</label>
	<input type="text" name="phone">
	
	<label for="notes">Notes</label>
	<textarea rows="10" cols="50" name="notes"></textarea>
	
	<input type="submit" value="Save">

</fieldset>
</form>

{% endblock %}