{% extends 'crm/base.html' %}
{% block title %}
<H1>myclients CRM</H1>
<p>The appliciation tries to model a formal database representation as close as possible to a CRM. Clients are served on a task basis.</p>
{% endblock %}
{% block content %}
<div class="card-columns">
	<div class="card border-dark" style="margin: 0.5em; display: inline-block;">
	<div class="card-header">📁 Recent contacts</div>
		<div class="card-body">
			<table class="table">
			<thead><tr><th>Id</th><th>Name</th></tr></thead>
			{% for r in records %}
			
				<tr> <td> <a href="contacts/{{ r.id }}">{{ r.id }}</a></td> <td>{{ r.name }} </td></tr>
				
			{% endfor %}
		</table>
		</div>
	</div>
	
	<div class="card border-dark" style="margin: 0.5em; display: inline-block;">
	<div class="card-header">📁 Tasks</div>
		<div class="card-body">
			<ul>
			{% for t in tasks %}
				<li><a href="tasks/{{t.id}}" title="#"> {{t.name}} </a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}