<!DOCTYPE HTML>
<HTML>
<HEAD>
	<title>myclients - CRM module</title>
	{% load static %}
	<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</HEAD>
<BODY>
<div class="container-fluid">
	<H1>myCRM</H1>
	<p>The appliciation tries to model a formal database representation as close as possible to a CRM. Clients are served on a task basis.</p>
	
	<ul class="nav nav-tabs">
	<li class="nav-item">
	<a class="nav-link active" aria-current="page" href="#">Dashboard</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="#">Products</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="#">Billing</a>
	</li>
	<li class="nav-item">
	<a class="nav-link disabled" href="#" aria-disabled="true">Active Subscriptions</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="/admin" tabindex="-1">admin</a>
	</li>
	</ul>
	
	<br>
	
	<div class="card-columns">
		<div class="card border-dark" style="margin: 0.5em; width: 18rem; display: inline-block;">
		<div class="card-header">📁 Contacts</div>
			<div class="card-body">
				<ul>
				{% for r in records %}
					<li><a href="contacts/{{r.name}}" title="#"> {{r.name}} </a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="card border-dark" style="margin: 0.5em; width: 18rem; display: inline-block;">
		<div class="card-header">📁 Tasks</div>
			<div class="card-body">
				<ul>
				{% for t in tasks %}
					<li><a href="tasks/{{t.name}}" title="#"> {{t.name}} </a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
</BODY>
</HTML>